.wave-left {
  text-align: center;
  display: inline-block;
  padding: 15px 17px;
  /* border: 1px solid #fff; */
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.wave-left:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

.wave-left:hover:before {
  left: 95%;
}

.wave-down {
  text-align: center;
  display: inline-block;
  padding: 15px 18px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.wave-down:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.wave-down:hover:before {
  top: 77%;
}

.wave-up {
  text-align: center;
  display: inline-block;
  padding: 15px 18px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.wave-up:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.wave-up:hover:before {
  bottom: 80%;
}

.wave-right {
  text-align: center;
  display: inline-block;
  padding: 15px 18px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.wave-right:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  right: -40px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

.wave-right:hover:before {
  right: 105%;
}

/* Others non tested waves */
.btn-5 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-5:hover:before {
  width: 100%;
}

/* Buton 5 Bitti linear waves*/

.btn-6 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-6:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  left: 100%;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-6:hover:before {
  width: 100%;
  left: 0;
}

/* Buton 6 Bitti */

.btn-7 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-7:before {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-7:hover:before {
  height: 100%;
}

/* Buton 7 Bitti */

.btn-8 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-8:before {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  background: #fff;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-8:hover:before {
  height: 100%;
}

/* Buton 8 Bitti 3d waves*/

.btn-9 {
  background: #51a3b8;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.btn-9:active {
  top: 3px;
  box-shadow: 0 2px 0px #387796;
  transition: all 0.2s;
}
/* Buton 9 Bitti */

.btn-10 {
  background: #8d6e63;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #6d4c41;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.btn-10:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all 0.2s;
}

/* Buton 10 Bitti */

.btn-11 {
  background: #7986cb;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #3f51b5;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 20px;
}

.btn-11:active {
  top: 3px;
  box-shadow: 0 2px 0px #3f51b5;
  transition: all 0.2s;
}

/* Buton 11 Bitti line wave */

.btn-12 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-12:before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 45%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.btn-12:hover:before {
  width: 100%;
  left: 0;
}

/* Button 12 Bitti */

.btn-13 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-13:before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 45%;
  height: 2px;
  top: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.btn-13:hover:before {
  width: 100%;
  left: 0;
}

/* Buton 13 Bitti */

.btn-14 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  border-bottom: 2px solid #fff;
}

.btn-14:before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 45%;
  height: 2px;
  top: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.btn-14:hover:before {
  width: 100%;
  left: 0;
}

/* Buton 14 Bitti */

.btn-15 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
  border-top: 2px solid #fff;
}

.btn-15:before {
  content: "";
  position: absolute;
  width: 0;
  background: #fff;
  left: 45%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
  opacity: 0.7;
}

.btn-15:hover:before {
  width: 100%;
  left: 0;
}
